@font-face {
  font-family: cloneMachine;
  src: url(../fonts/cloneMachine.otf);
  font-weight: bold;
}

body {
  background-color: #aeaeae;
  font-family: cloneMachine;
  margin: 0;
  padding: 0;
}

.gameDiv:hover {
  background-color: rgba(230,76,102,0.8);
}

.headDiv {
  background-color: #aeaeae;
  position: -webkit-sticky;
  position: sticky;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding:2vw;
  height: 10vw;
  top: 0vw;
  border-bottom: 1px solid silver;
  z-index: 1000;
}

.headDiv p {
  margin-block-start: 0px;
  margin-block-end: 0px;
  display: flex;
}

.notifications {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(230,76,102,0.5);
  width: 10vw;
  height: 10vw;
  border-radius: 5vw;
  color: white;
  font-size: 6.5vw;
  font-weight: bold;
}

.logoDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(230,76,102,0.5);
  height: 10vw;
  width: 50vw;
  border-radius: 5vw;
  color: white;
  font-size: 6.5vw;
  font-weight: bold;
}

a {
  text-decoration:none;
}

a:hover div {
  background-color: rgba(230,76,102,0.8);
}

.loginDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(230,76,102,0.5);
  height: 10vw;
  width: 10vw;
  border-radius: 5vw;
  color: white;
  font-size: 3vw;
  font-weight: bold;
}

.loginDiv img {
  height: 8vw;
  width: 8vw;
}

.bodyDiv {
  display: flex;
  flex-direction: column;
}

.friendDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 2vw;
}

.friendBox {
  display: flex;
  width: 80vw;
  height: 10vw;
  background-color: rgba(230,76,102,0.5);
  justify-content: center;
  align-items: center;
  border-radius: 2.5vw;
  margin-right: 5vw;
  color: white;
}

.newMessageBox {
  display: flex;
  justify-content: center;
  align-items:center;
  background-color: rgba(230,76,102,0.5);
  height: 10vw;
  width: 10vw;
  border-radius: 5vw;
  color: white;
  font-size: 8vw;
  font-weight: bold;
}

.newMessageBox p {
  margin: 0;
}

.newMessageBox:hover {
  background-color: rgba(230,76,102,0.8);
}

.contentDiv {
  display: flex;
  flex-flow: wrap row;
  justify-content: space-around;
  align-items: flex-start;

}

.gameDiv {
  display: flex;
  justify-content: center;
  width: 7vw;
  height: 7vw;
  background-color: rgba(230,76,102,0.5);
  color: white;
  font-size: 2vw;
  border-radius: 1vw;
}

.gameDiv a {
  display: flex;
  align-self: center;
}

.gameDiv a img {
  width: 5vw;
  height: 5vw;
}

.tabDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.dropdown {
  display: flex;
  position: relative;
  display: inline-block;
  width: 30vw;
  height: 18vw;
  margin-top: 2vw;
  border-radius: 2vw;
  background-color: rgba(230,76,102,0.5);
}

.more {
  display: flex;
  justify-content: center;
  align-self: center;
}

.more h1 {
  display: flex;
  align-self: center;
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: 5vw;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display:block;
}

.dropdown-content p:hover {
  background-color: yellow;
}


.newsDiv {
  display: flex;
  justify-content: center;
  width: 60vw;
  height: 50vw;
  background-color: rgba(230,76,102,0.5);
  color: white;
  font-size: 3vw;
  margin-top: 2vw;
  border-radius: 2vw;
  margin-bottom:2vw;
}

.newsDiv h3 {
  align-self: center;
}

.linkDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90vw;
  height: 8vw;
  padding: 2vw;
  margin:auto;
  background-color: rgba(230,76,102,0.5);
  color: white;
  font-size: 3vw;
  border-radius: 2vw;
}

.footDiv {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 8vw;
  background-color: rgba(45,62,80,0.5);
}

@media only screen and (max-width:450px) {
  .contentDiv {
    flex-direction: column;
    align-items: center;
  }
  .gameDiv{
    flex-direction: column;
    margin-bottom: 1vw;
  }
  .newsDiv{
    margin-bottom: 1vw;
    width: 90vw;
  }
  .dropdown {
    width: 50vw;
    margin-bottom: 1vw;
    margin-top: 0vw;
    left: 20vw;
    height: 10vw;
  }
}
